* {
    /*
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    */
    text-decoration: none;
}

li {
    list-style: none;
}

.routerlink {
    color: black;
}
.v-content__wrap .container{padding:0px;}

.logo{color:#ffffff;}

.text_color_blue{color:#1976d2}

h3 span{font-size:14px; width:100%;}
h5{font-size:18px; border-bottom:0px solid #42a4e1; background:#234e68; color:#ffffff; }
h5 .v-card__title{padding:8px 8px 0px 24px;}
h6{font-size:16px;}
.pop_btn_w{border-top:1px solid #dddddd !important; padding:5px 0 10px 0;}
.pop_bot_h{height:20px;}


.w100{width:100%;}

.login_btn .v-icon--left{margin-right: 5px !important;}

.table_line1{border:1px solid #dcdcdc;border-top:2px solid #808080;}
.table_line2{border-top:1px solid #808080;}
.table_line3{border-top:0px;}
.table_line4{border-top:1px solid #808080;}
.text_result{color:#1976d2 !important;}
.text_info1{color:#ff821d; font-weight: 600;}
.text_info1 .theme--light.v-icon{color:#ff821d;}


/*알럿창*/
.pop_alert h6{font-size: 20px; height: 45px; font-weight: 600; color: #101010; padding:10px 0 5px 24px; border-bottom:1px solid #d8d8d8}
.pop_alert .v-card__title{font-size: 16px; font-weight: 600;}
.pop_alert .theme--light.v-icon.confirm{color:#1976d2}
.pop_alert .theme--light.v-icon.warning_1{color:red;}
.pop_alert .theme--light.v-icon.error_1{color:#ff821d;}
.pop_alert .pop_alret_yesbtn{background-color:#1976d2 !important;}
.pop_alert .pop_alret_nobtn{background-color: #9e9e9e !important;}


.content_margin{margin:16px;}
.img_align{vertical-align: middle;}

/*지수정보 조회페이지 2019.03.20*/
h3 span{font-size:14px; width:100%;}
h3.subtit p{font-size: 16px; color: grey; margin: 0px;}
h3.subtit p span{padding-left:20px;}
h3.subtit p.sub_txt{font-size:14px; font-weight: normal;}

.summary_card_pad .flex.md4{padding-right:6px; padding-bottom:6px}
.summary_card_pad .flex.md3{padding-right:6px; padding-bottom:6px;padding-top:5px;}
.summary_card_pad .flex.md12{padding-right:6px; padding-top:5px;}

.index_subtoolbar h3{ padding-top:24px;}


:-ms-fullscreen, :root .title_wrap01 .btn_r{float:right;}
.title01_w .v-card__title{padding-bottom:5px;}
.title_wrap01{width:100%;height:30px;}
.title_wrap01 h3{float:left; padding-bottom:0px;}
.title_wrap01 .right_btn{float:right; display: block; }
.title_ex{color:#9e9e9e;padding:0 8px; font-weight:bold; position: relative; width:100%;}

.graph_01_w{ padding:0 24px 40px;}
.graph_01_w .sub_title_num{font-size:30px;  font-weight:bold; color:#101010;}
.graph_01_w .sub_title_num span{font-size:14px; color:red;}
.graph_01_w .sub_title_num p{font-size: 14px; color:#9e9e9e; }
.graph_01_w .graph_01{width:100%;}
.graph_toggle .v-btn-toggle{border:1px solid #c9c9c9;}
.graph_toggle .v-btn-toggle--selected{ box-shadow: none !important; }
.graph_toggle .v-btn-toggle .v-btn.v-btn--active{background-color:#1976d2; color:#ffffff; border-right:1px solid #1976d2; }
.graph_toggle .v-btn-toggle .v-btn{padding:0 15px; opacity: 0.7; }

.graph_02_w{ padding:0; background-color:#f6f6f6;width:100%;}

.indexinfo_box01{ width:100%;padding:16px 24px 0 24px; margin-top:10px;}
.indexinfo_box02{ width:100%;padding:16px 24px 0 0px; margin-top:10px;}
.indexinfo_box01 h4, .indexinfo_box02 h4{border-top:2px solid #9e9e9e;border-bottom:1px solid #9e9e9e; font-size: 18px; padding:10px;}
.indexinfo_box01 table.v-table, .indexinfo_box02 table.v-table{border-bottom:2px solid #9e9e9e;}
.indexinfo_box01 table.v-table th, .indexinfo_box01 table.v-table tbody td{ height:35px;}
.indexinfo_box01 table.v-table tbody td{ font-size:14px; color:#101010;}


.indexinfo_box02.a1 table.v-datatable thead th{font-size:14px;  color:red;}
.indexinfo_box02 table.v-table tbody td{ height:35px;}

.indexinfo_box02.a2, .indexinfo_box02.a3{margin-top:0;padding-top:0;}
.indexinfo_box02.a2 table.v-datatable thead th{font-size:14px;  color:#ff8400;}
.indexinfo_box02.a3 table.v-datatable thead th{font-size:14px;  color:#2f4cac;}

.indexinfo_table01 table.v-table tbody td:first-child{padding:0px !important}
.indexinfo_table01 img{ padding-right:0px; height:100%;}

.index3pop2_con .theme--light.v-list{background: #fff;}
.index3pop2_con .v-list__tile__title{width:30%;padding-left:10px; color:#234e68; font-weight: 600;}
.index3pop2_con .v-list--two-line .v-list__tile{padding-top:8px;height:40px;}

.list_boder .v-list-tile{border-bottom:1px solid #cbe2f0}


/*summary*/
.summary_title .v-toolbar__content{background-color: #ffffff; padding:0px !important;height:40px !important;}
.summary_title .v-toolbar__title{font-size:24px !important; letter-spacing: -1px; font-weight:600; color:#606060;}



/*지수등록 신규등록*/
.wrap001 .v-card__title{padding:24px 16px 0px 16px;}
.register_wrap{border-top:3px solid #a1dbff; width:100%;}
.register_wrap h4{padding:10px 0; font-size:16px;}
.regi_status{ border-top:1px solid #9bc6e0 !important;border-bottom:1px solid #cbe2f0 !important; background-color: #f4fbff !important; padding-left:16px; margin-bottom:20px;}
.regi_status span{padding-left:10px; font-weight: 600;}

.right_menu_w{height:100%;}
.right_menu_w .v-list__tile{padding:0px;}
.right_menu{border-left:1px solid #e6e6e6; height:100%; margin-top:64px;}
.right_menu_w2 .rightmenu_tit{padding-left:16px; font-size:16px; width:100%;}
.right_menu_w2 .v-list__tile--avatar{height: 40px;}
.right_menu_w2 .v-list__tile{padding:0px;}
.right_menu_w2 .rightmenu_line{border-top:1px solid #d4d4d4;}
.right_menu_w2 .rightmenu_con{padding:15px 16px; font-size: 14px; font-weight: 600; color:#606060;}
.right_menu_w2 .v-input input{max-height: 20px; font-size: 14px;}
.right_menu_w2 .v-input label{display: none;}
.right_menu_w2 .v-text-field--outline>.v-input__control>.v-input__slot{min-height: 20px;}
.right_menu_w2 .v-text-field--outline input{margin-top:7px;}
.right_menu_w2 .v-text-field.v-text-field--enclosed .v-input__append-inner{margin-top:7px;}
.right_menu_w2 .rightmenu_con.ver2{border-top:1px dashed #e6e6e6 ; border-bottom:1px dashed #e6e6e6;}
.right_menu_w2 .rightmenu_con.ver2 p{padding:3px 0 0 12px; color:#606060;margin-bottom:0px; font-size: 13px;}
.right_menu_w3 a{height:55px !important; border-bottom:1px solid #e6e6e6}
.right_menu_w4 .v-list{border-top:1px solid #d0d7e3;border-bottom:1px solid #d0d7e3;}
.right_menu_w4 .v-list .v-subheader{height:30px; padding-top:10px;}
.right_menu_w4 .theme--light.v-list{background-color: #e9edf4;}
.right_menu_w4 .v-list .v-list__tile__title{font-size: 14px;text-align: right;}
.right_menu_w4 .v-list .v-list__tile__sub-title{color:#101010 !important; font-weight: 600;font-size: 16px !important;text-align: right;}
.right_menu_w4 .v-list .v-list__tile__sub-title p{height: 25px; color:#1976d2 !important;}


.drag_box_w{margin-bottom:24px;}
.drag_box{border:1px solid #c6c6c6 !important; border-radius: 2px; margin-bottom:24px; height:150px;}
.drag_box .jumsun{border:1px dashed #c6c6c6 !important;margin:5px;}
p span.info_text{padding-left:25px; color:#1976d2;}
.in_text{height:40px; padding-top:12px;}
.drag_box.list{height:100% !important; width:100% !important;margin-bottom:0px; }

.add_btn .v-btn{padding-right:0px; width:25px;padding-left:0px; margin-left:0;}
.right_menu_t_i{min-width: 40px !important;padding-left:7px;}
.right_menu_newbtn{padding-left:59px; margin:15px 0;height:100% !important; }
.right_menu_con_w{height:90px !important;  padding:0px !important}
.right_menu_con_w .v-list__tile{padding:0px !important;}
.right_menu_con_w .v-list__tile .v-subheader{font-size: 16px; color:#101010;padding:5px 0 7px 16px;}
.right_menu_con_w .v-list__tile .w_1{height:150px; padding-top:50px; }
.right_menu_con_w .w_1 .v-toolbar__content{height:20px !important; background-color: #ffffff; padding:0 16px 0 17px !important;}
.right_menu_con_w .w_1 .v-toolbar .v-toolbar__title{font-size: 14px !important;padding:0;}
.right_menu_con_w span{font-size:14px; letter-spacing:-1px;}
.right_menu_con_w .v-input--slider{width:100%;padding:0 22px 0px 24px; margin-top:0px !important;}
.right_menu_sub_title{padding:20px 12px 23px; font-size: 15px; font-weight: 600; color:#1976d2 !important;letter-spacing: -1}
.v-list-tile .right_menu_sub_title{padding-left:0 !important;}
.register_t_w span.subtitle_sub{font-size:13px; font-weight: normal; padding-left:20px}
.text_color_orange{color:#ff821d;}
.regist_table{width:100%; height:100%;}
.regist_table table.v-table thead tr{height: 35px; font-size: 14px;}
.regist_table table.v-table thead th{font-size: 14px;}
.regist_table table.v-table tbody td{height:35px;}

/*파일업로드*/
.upload-hidden {
    display:inline-block;
    width:80px;
    height:28px;
    background: #1976d2;
    border-radius: 2px;
    color:#fff;
    text-align: center;
    line-height: 28px;
    margin-left:8px;
    margin-top:8px
}
input[type='file']{
    display: none
}
.upload-name {
    padding:5px;
    width:100%;
    border-radius: 2px;
    border:1px solid #c6c6c6;
    background:#ffffff; height:46px;
    margin-bottom:20px;
}

